output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
/build/
/class
/libclass.a
/classy.egg-info/
/python/build/
/python/dist/
/logs/
/output/
/cobaya_runs/
/validation_final/
__pycache__/
*.pyo
*.o
*.opp
*.so
*.egg-info/
*.dSYM/
